<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Java:Day2</title>
</head>
<body>
    <h1 style="text-align: center; margin: 0;padding: 0;">Please Enter 3 values.</h1>
    <p style="text-align: center; margin: 0; padding: 0;">Example 3,4,5</p>
    <form style="text-align: center" action="answer" method="get">
        <label>
            <input type="text" name="value1">
            <input type="text" name="value2">
            <input type="text" name="value3">
        </label>
        <input style="padding: 10px 5px" type="submit" value="GO">

    </form>
</body>
</html>